/* @import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css); */


/* ----------------------------------------------- */


/* SET UP */


/* ----------------------------------------------- */

html {
    background-color: #fffdf9;
    font-size: 1vw;
}

#main {
    width: 55%;
    margin: auto;
    overflow-x: hidden;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* ----------------------------------------------- */


/* HEADER */


/* ----------------------------------------------- */

#header {
    width: inherit;
    height: 6vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
    z-index: 2;
}

#header img {
    width: 5%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 1.5vw;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#header img:hover {
    cursor: pointer;
}

#nav {
    float: right;
    padding-left: 100px;
    position: absolute;
    top: 50%;
    right: 1vw;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#nav li {
    list-style: none;
    float: left;
    margin-left: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    transition: 0.6s ease;
}

#nav li:hover {
    cursor: pointer;
    color: rgb(181, 181, 181);
}


/* ----------------------------------------------- */


/* ABOUT ME */


/* ----------------------------------------------- */

#about-me {
    font-family: 'Crete Round', serif;
    font-size: 1.1vw;
    width: 60%;
    margin: 30vh auto 0 auto;
}

#about-me h1 {
    margin-bottom: 2vh;
}

#about-me p {
    margin: 10vh 0
}


/* ----------------------------------------------- */


/* PROJECTS */


/* ----------------------------------------------- */

.project-box {
    margin-top: 8vh;
    background-color: rgb(215, 215, 215);
    position: relative;
    padding: 20px 10px 5px 10px
}

.box2 {
    margin-top: 30px;
}

.box3 {
    margin-top: 60px;
}

.project-box img {
    padding: 0;
}

.tools {
    font-size: 30px;
    text-align: center;
}

.tools i {
    padding: 2% 2.5% 0 2.5%
}

.explanation h5 {
    margin-top: 5%;
    font-family: 'Crete Round', serif;
    font-weight: 500;
}

.explanation span {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-size: 0.8rem;
}


/* ----------------------------------------------- */


/* PHILOSOPHY */


/* ----------------------------------------------- */

#philosophy {
    height: 60vh;
    position: relative;
    text-align: center;
}

#philosophy p {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Crete Round', serif;
    font-size: 1.2rem;
}


/* ----------------------------------------------- */


/* SKILLS */


/* ----------------------------------------------- */

#codes {
    background-color: rgb(84, 83, 83);
    background-image: url(../img/low-contrast-linen.png);
    font-family: 'Allura', cursive;
    /* font-style: italic; */
    font-weight: 500;
    height: 50vh;
    position: relative;
}

#codes p {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 40%;
    padding-left: 4vw;
    font-size: 2.5rem;
    color: rgb(204, 204, 204);
    line-height: 70px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* ----------------------------------------------- */


/* HOBBIES */


/* ----------------------------------------------- */

#hobbies {
    height: 50vh;
    margin-top: 100px;
}

.slideshow-container {
    height: 800px;
    position: relative;
    margin: auto;
}

#prevBtn,
#nextBtn,
#prevBtn2,
#nextBtn2,
#prevBtn3,
#nextBtn3,
#prevBtn4,
#nextBtn4 {
    display: block!important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 32px;
    height: 45px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#prevBtn,
#prevBtn2,
#prevBtn3,
#prevBtn4 {
    left: 50px;
    background: url(../img/prev.png) no-repeat 0 0;
}

#nextBtn,
#nextBtn2,
#nextBtn3,
#nextBtn4 {
    right: 50px;
    background: url(../img/next.png) no-repeat 0 0;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* ----------------------------------------------- */


/* CONTACT */


/* ----------------------------------------------- */

#contact {
    border-top: 2px solid rgb(61, 61, 61);
}

#contact ul {
    margin-bottom: 0;
}

#contact a {
    text-decoration: none;
    color: rgb(61, 61, 61);
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
    margin: 5vh 2vw
}

#contact li {
    list-style: none;
    display: flex;
    justify-content: center;
}

#contact a:hover {
    color: rgb(122, 122, 122);
}