/* @import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css); */


/* ----------------------------------------------- */


/* SET UP */


/* ----------------------------------------------- */

html {
    background-color: #fffdf9;
}

#main {
    width: 60%;
    margin: auto;
    /* text-align: center; */
    overflow-x: hidden;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* ----------------------------------------------- */


/* HEADER */


/* ----------------------------------------------- */

#header {
    width: inherit;
    height: 50px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    top: 10px;
    margin-top: 40px;
    z-index: 2;
}

#nav {
    float: right;
    padding-left: 600px;
    padding-top: 20px;
    opacity: 50%;
}

#nav li {
    list-style: none;
    float: left;
    margin-left: 20px;
}


/* ----------------------------------------------- */


/* ABOUT ME */


/* ----------------------------------------------- */

#about-me {
    height: 70vh;
    margin-top: 10vh;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    color: #033074;
}


/* ----------------------------------------------- */


/* PROJECTS */


/* ----------------------------------------------- */

.project-box {
    background-color: rgb(215, 215, 215);
    position: relative;
}

#projects .row {
    margin-top: 5px;
    padding: 0 15px
}

#projects .col {
    padding-left: 3px;
}

.box2 {
    margin-top: 30px;
}

.box3 {
    margin-top: 60px;
}

.project-box img {
    padding: 0 5%;
}

.tools {
    font-size: 30px;
    text-align: center;
}

.tools i {
    padding-left: 5%;
}

.explanation h5 {
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.explanation span {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-size: 0.8rem;
}


/* ----------------------------------------------- */


/* PHILOSOPHY */


/* ----------------------------------------------- */

#philosophy {
    height: 40vh;
    position: relative;
    text-align: center;
}

#philosophy p {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}


/* ----------------------------------------------- */


/* SKILLS */


/* ----------------------------------------------- */

#codes {
    background-color: rgba(71, 87, 117, 0.5);
    font-family: 'Allura', cursive;
    /* font-style: italic; */
    font-weight: 500;
    font-size: 2rem;
    height: 50vh;
    opacity: 70%;
    position: relative;
}

#codes p {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    line-height: 70px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* ----------------------------------------------- */


/* HOBBIES */


/* ----------------------------------------------- */

#hobbies {
    height: 50vh;
}