<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Yukihide is a Singapore-Japan mix, currently an undergraduate at the National University of Singapore." />
    <meta name="keywords" content="Yukihide, Yukihide Takahashi, NUS, National University of Singapore" />

    <link rel="icon" href="img/favicon.ico" />

    <!-- normalize across browsers -->
    <link rel="stylesheet" href="css/normalize.css" />

    <!-- icons -->
    <script src="https://kit.fontawesome.com/e19efbd276.js" crossorigin="anonymous"></script>

    <!-- containers -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />

    <!-- basic font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet"> -->


    <!-- custom styling -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />

    <!-- media queries -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/queries.css')}}" />

    <!-- animations -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

    <title>Yukihide Takahashi - NUS Student</title>
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo" style="display: block; float: left;">
                <img src="{{url_for('static', filename='img/logo.png')}}" onclick="window.location='#main'" />
            </div>
            <ul id="nav" style="display: block;">
                <li onclick="window.location='#projects'">
                    projects
                </li>
                <li onclick="window.location='#philosophy'">
                    philosophy
                </li>
                <li onclick="window.location='#skills'">
                    skills
                </li>
                <li onclick="window.location='#hobbies'">
                    hobbies
                </li>
                <li onclick="window.location='#contact'">
                    contact
                </li>
            </ul>
        </div>
        <div id="about-me">
            <h1>Welcome.</h1>
            <h1 id="jp">こんにちは。</h1>
            <h1 id="ch">你好。</h1>
            <p>I'm Yukihide, a college student in the National University of Singapore majoring in Industrial and Systems Engineering.</p>
            <!-- <p>Plan, execute, reflect, improve. I learn best through this iterative process.</p> -->
            <p>I spent my years growing up in three different countries - Singapore, Taiwan, and Japan, each for about six years.</p>
            <p>After serving National Service in Singapore for two years, I matriculated to NUS in August 2020.</p>
            <p>I am fluent in English and Japanese, as well as conversational Chinese. </p>
            <p>Please feel free to reach out!</p>
        </div>
        <div id="projects">
            <div class="row">
                <div class="col-lg box1">
                    <div class="project-box">
                        <a href="https://yuki-zmstr.github.io/yumzandsweetz/" target="_blank">
                            <img src="{{url_for('static', filename='img/food.jpg')}}" style="width: 100%">
                        </a>
                        <div class="tools">
                            <i class="fab fa-html5"></i>
                            <i class="fab fa-css3-alt"></i>
                            <i class="fab fa-js"></i>
                        </div>
                    </div>
                    <div class="explanation">
                        <h5>Food Blog</h5>
                        <span>Stuff I make. 100% Yumz and Sweetz. 100% Goodness.</span>
                    </div>
                </div>
                <div class="col-lg box2">
                    <div class="project-box">
                        <a href="https://www.nisc-nus.com/" target="_blank">
                            <img src="{{url_for('static', filename='img/nisc.jpg')}}" style="width: 100%">
                        </a>
                        <div class="tools">
                            <i class="fab fa-html5"></i>
                            <i class="fab fa-css3-alt"></i>
                            <i class="fab fa-js"></i>
                        </div>
                    </div>
                    <div class="explanation">
                        <h5>Web Design</h5>
                        <span>Official website for a student organization.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg box1">
                    <div class="project-box">
                        <img src="{{url_for('static', filename='img/flask.jpg')}}" style="width: 100%">
                        <div class="tools">
                            <i class="fab fa-html5"></i>
                            <i class="fab fa-css3-alt"></i>
                            <i class="fab fa-js"></i>
                            <i class="fa-solid fa-pepper-hot"></i>
                        </div>
                    </div>
                    <div class="explanation">
                        <h5>Food Blog with Login Feature</h5>
                        <span>Full stack food blog. (Under Development). Flask as back-end library.</span>
                    </div>

                </div>
                <div class="col-lg box2">
                    <div class="project-box">
                        <img src="{{url_for('static', filename='img/IE1111R.PNG')}}" style="width: 100%">
                        <div class="tools">
                            <i class="fas fa-file-excel"></i>
                        </div>
                    </div>
                    <div class="explanation">
                        <h5>Resource Optimization Tool</h5>
                        <span>Distributes resources based on cost & demand. Linear Optimization, Matrix.</span>
                    </div>
                </div>
                <div class="col-lg box3">
                    <div class="project-box">
                        <img src="{{url_for('static', filename='img/metadata.png')}}" style="width: 100%">
                        <div class="tools">
                            <i class="fa-solid fa-gem"></i>
                            <i class="fa-brands fa-react"></i>
                        </div>
                    </div>
                    <div class="explanation">
                        <h5>NLP Analysis Tool</h5>
                        <span>Web App for Positivity/Negativity analysis in product reviews. Ruby on Rails. React.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg box1">
                    <div class="project-box">
                        <img src="{{url_for('static', filename='img/NS.PNG')}}" style="width: 100%">
                        <div class="tools">
                            <i class="fab fa-python"></i>
                            <i class="fab fa-google-drive"></i>
                        </div>
                    </div>
                    <div class="explanation">
                        <h5>Performance Tracking System</h5>
                        <span>Realtime tracking of physical outputs of a product line. Regex, Sheets API, Cron.</span>
                    </div>
                </div>
                <div class="col-lg box2">

                    <div class="project-box">
                        <a href="https://yuki-zmstr.github.io/en/" target="_blank">
                            <img src="{{url_for('static', filename='img/old.png')}}" style="width: 100%">
                        </a>
                        <div class="tools">
                            <i class="fab fa-html5"></i>
                            <i class="fab fa-css3-alt"></i>
                            <i class="fab fa-js"></i>
                        </div>
                    </div>
                    <div class="explanation">
                        <h5>Portfolio V.1 (2021)</h5>
                        <span>Very first attempt at Web Design.</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="philosophy">
            <p>I like to tell myself, <br>"The human brain is made to learn. Feed it the experience it needs."</p>
        </div>
        <div id="skills">
            <div class="row">
                <div class="col" id="codes">
                    <p>console.log("Hello World ") <br> print("Hello World ") <br> puts "Hello World " <br> cout &lt;&lt; "Hello World "</p>
                </div>
                <div class="col">
                    <h1>Skillsets.</h1>
                    <h6>Languages: English, Japanese, Chinese.</h6>
                    <h6>Languages(Programming): Javascript, Python, Ruby, C++.</h6>
                    <h6>OS: Windows, Mac, Ubuntu.</h6>
                    <h6>Libraries: BS4, React, Flask, Ruby on Rails, RSpec, Tensorflow.</h6>
                    <h6>Databases: My SQL, Elasticsearch.</h6>
                    <h6>Hosting: Heroku, Github Pages.</h6>
                    <h6>Others: WordPress, Google Analytics, Slack.</h6>
                </div>
            </div>
        </div>
        <div id="filler"></div>
        <div id="hobbies">
            <div class="slideshow-container" id="reading">
                <div class="title">
                    01 Reading
                </div>
                <div class="slide">
                    <img src="{{url_for('static', filename='img/sbreading.jpg')}}">
                    <div class="caption">@ Tokyu Plaza Omotesando Harajuku 6F Terrace</div>
                </div>
                <div class="slide">
                    <img src="{{url_for('static', filename='img/books.jpg')}}">
                    <div class="caption">Collections</div>
                </div>

                <a class="prev">
                </a>
                <a class="next">
                </a>
                <div class="dots">
                    <span class="dot" data-num="1"></span>
                    <span class="dot" data-num="2"></span>
                </div>
            </div>


            <div class="slideshow-container" id="photography">
                <div class="title">
                    02 Photography
                </div>
                <div class="slide">
                    <img src="{{url_for('static', filename='img/glasses.jpg')}}">
                    <div class="caption">@ Roma-ken, Jingumae, Harajuku</div>
                </div>
                <div class="slide">
                    <img src="{{url_for('static', filename='img/fuji.jpg')}}">
                    <div class="caption">5pm vibes.</div>
                </div>
                <div class="slide">
                    <img src="{{url_for('static', filename='img/cameraman.jpg')}}">
                    <div class="caption">@ South Bridge Road, Chinatown, Singapore.</div>
                </div>
                <div class="slide">
                    <img src="{{url_for('static', filename='img/1311.jpg')}}">
                    <div class="caption">Memories from class. @ FAB Lab, Faculty of Engineering, NUS</div>
                </div>

                <div class="slide">
                    <img src="{{url_for('static', filename='img/burger.jpg')}}">
                    <div class="caption">At work. @ Three Buns, Chinatown, Singapore.</div>
                </div>
                <a class="prev"></a>
                <a class="next"></a>

                <div class="dots">
                    <span class="dot" data-num="1"></span>
                    <span class="dot" data-num="2"></span>
                    <span class="dot" data-num="3"></span>
                    <span class="dot" data-num="4"></span>
                    <span class="dot" data-num="5"></span>
                </div>
            </div>

            <div class="slideshow-container" id="cooking">
                <div class="title">
                    03 Cooking
                </div>
                <div class="slide">
                    <img src="{{url_for('static', filename='img/orangep.jpg')}}">
                    <div class="caption">Orange peels. Condiments for tea.</div>
                </div>
                <div class="slide">
                    <img src="{{url_for('static', filename='img/friedr.jpg')}}">
                    <div class="caption">Made purely from leftovers and sesame oil.</div>
                </div>
                <div class="slide">
                    <img src="{{url_for('static', filename='img/tomatostew.jpg')}}">
                    <div class="caption">Tomato Stew. Longer the simmer, fluffier the eggplant.</div>
                </div>
                <div class="slide">
                    <img src="{{url_for('static', filename='img/chics.jpg')}}">
                    <div class="caption">Packing for lunch in the morning.</div>
                </div>

                <div class="slide">
                    <img src="{{url_for('static', filename='img/lemoncookie.jpg')}}">
                    <div class="caption">Lemon cookies. Just me fooling around with freshly-baked cookies.</div>
                </div>
                <a class="prev"></a>
                <a class="next"></a>

                <div class="dots">
                    <span class="dot" data-num="1"></span>
                    <span class="dot" data-num="2"></span>
                    <span class="dot" data-num="3"></span>
                    <span class="dot" data-num="4"></span>
                    <span class="dot" data-num="5"></span>
                </div>
            </div>

            <div class="slideshow-container" id="writing">
                <div class="title">
                    04 Writing
                </div>
                <div class="slide">
                    <img src="{{url_for('static', filename='img/writingen.jpg')}}">
                    <div class="caption">Writing is cathartic.</div>

                </div>
                <div class="slide">
                    <img src="{{url_for('static', filename='img/writingjp.jpg')}}">
                    <div class="caption">I write in Japanese too.</div>
                </div>
                <a class="prev"></a>
                <a class="next"></a>

                <div class="dots">
                    <span class="dot" data-num="1"></span>
                    <span class="dot" data-num="2"></span>
                </div>
            </div>
        </div>
        <div id="contact" style="margin-bottom: 0;">
            <ul>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100009808110440 " target="_blank" class="fab fa-facebook-square"></a>
                    <a href="https://www.linkedin.com/in/yukihide-takahashi-68366a1b7/ " target="_blank" class="fab fa-linkedin"></a>
                    <a href="https://www.instagram.com/yuki.zmstr/?hl=en " target="_blank" class="fab fa-instagram"></a>
                </li>
            </ul>
            <p>&#169; 2022 Yukihide Takahashi</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
</body>

</html>